<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${'Book ' + carId}">Booking Form</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-100">
    <div id="content">
        <section class="bg-gray-100 py-8 antialiased dark:bg-gray-900 md:py-16">
            <div class="mx-auto max-w-screen-xl px-4 2xl:px-0">
                <a th:href="@{'/rent'}" class="font-semibold text-blue-500 dark:text-blue-500">Go Back</a>
                <h1 class="text-3xl font-semibold text-red-400 dark:text-white sm:text-xl" th:if="${error}" th:text="${error}"></h1>
                <div class="flex flex-col mt-2 gap-8 lg:flex-row lg:items-start">

                    <form data-th-action="@{'/bookCar/'+${car.carId}}" th:object="${booking}"
                        method="post"
                        class="flex-grow w-full rounded-lg border border-gray-200 bg-white p-6 shadow-sm dark:border-gray-700 dark:bg-gray-800 sm:p-8 lg:max-w-3xl">
                        <h2 class="text-center mb-6 text-xl font-semibold text-gray-900 dark:text-white sm:text-2xl">
                            Booking <span data-th-text="${car.model}"></span></h2>
                            <div class="mb-6 grid grid-cols-2 gap-4">
                                <div class="col-span-2 sm:col-span-1">
                                    <label for="startDate"
                                        class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">Start
                                        Date*</label>
                                    <input type="date" id="startDate" th:field="*{startDate}"
                                        class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary-500 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-primary-500 dark:focus:ring-primary-500"
                                         />
                                    <p th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}"
                                        class="ml-1 text-red-500"></p>
                                </div>
    
                                <div class="col-span-2 sm:col-span-1">
                                    <label for="endDate"
                                        class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">End
                                        Date*</label>
                                    <input type="date" id="endDate" th:field="*{endDate}"
                                        class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary-500 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-primary-500 dark:focus:ring-primary-500"
                                         />
                                    <p th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}"
                                        class="ml-1 text-red-500"></p>
                                </div>
    
                                <div>
                                    <label for="location"
                                        class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">Location*</label>
                                    <input type="text" id="location" th:field="*{location}"
                                        class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500"
                                         />
                                    <p th:if="${#fields.hasErrors('location')}" th:errors="*{location}"
                                        class="ml-1 text-red-500"></p>
                                </div>
    
                                <div>
                                    <label for="discount"
                                        class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">Discount*</label>
                                    <input type="number" id="discount" th:field="*{discount}"
                                        class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary-500 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-primary-500 dark:focus:ring-primary-500"
                                         />
                                    <p th:if="${#fields.hasErrors('discount')}" th:errors="*{discount}"
                                        class="ml-1 text-red-500"></p>
                                </div>
    
                                <div>
                                    <label for="status"
                                        class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">Status*</label>
                                    <select id="status" th:field="*{status}"
                                        class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary-500 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-primary-500 dark:focus:ring-primary-500">
                                        <option value="Available">Available</option>
                                        <option value="Not-Available">Not Available</option>
                                    </select>
                                    <p th:if="${#fields.hasErrors('status')}" th:errors="*{status}"
                                        class="ml-1 text-red-500"></p>
                                </div>
                            </div>
                        <div class="flex justify-center mt-4">
                            <button type="submit"
                                class="w-80 rounded-lg bg-green-500 px-5 py-2.5 text-sm font-medium text-white hover:bg-green-700 focus:outline-none focus:ring-4 focus:ring-green-300">
                                Book Now
                            </button>
                        </div>
                    </form>

                    <div
                        class="lg:max-w-sm w-full rounded-lg border border-gray-200 bg-gray-50 p-6 shadow-sm dark:border-gray-700 dark:bg-gray-800 sm:p-8">
                        <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Car Summary</h3>
                        <div class="mt-4 space-y-4">
                            <dl class="flex justify-between">
                                <dt class="text-sm text-gray-500 dark:text-gray-400">Car Model</dt>
                                <dd class="text-sm font-medium text-gray-900 dark:text-white"><span
                                        data-th-text="${car.model}"></span></dd>
                            </dl>
                            <dl class="flex justify-between">
                                <dt class="text-sm text-gray-500 dark:text-gray-400">Fuel Type</dt>
                                <dd class="text-sm font-medium text-gray-900"><span
                                        data-th-text="${car.fuelType}"></span></dd>
                            </dl>
                            <dl class="flex justify-between">
                                <dt class="text-sm text-gray-500 dark:text-gray-400">Mileage</dt>
                                <dd class="text-sm font-medium text-gray-900 dark:text-white"><span
                                        data-th-text="${car.mileage}"></span></dd>
                            </dl>
                            <dl class="flex justify-between">
                                <dt class="text-sm text-gray-500 dark:text-gray-400">Rent Rate</dt>
                                <dd class="text-sm font-medium text-gray-900 dark:text-white"><span
                                        data-th-text="${car.rentRate}"></span></dd>
                            </dl>
                        </div>
                        <div class="mt-4 border-t border-gray-200 pt-4 dark:border-gray-700">
                            <dl class="flex justify-between">
                                <dt class="text-base font-bold text-gray-900 dark:text-white">Status</dt>
                                <dd class="text-base font-bold text-gray-900 dark:text-white"><span
                                        data-th-text="${car.status}"></span></dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>

</html>