<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="header.css">
</head>
<body>
<header class="main-header">
  <div class="logo">
    <a href="/">CARCADDY</a>
  </div>
  <nav class="nav-menu">
    <ul>
      <li><a href="/">Home</a></li>
      <li class="dropdown">
        <a href="#" class="dropbtn">Customer</a>
        <div class="dropdown-content">
          <a href="/customer/register">Register</a>
          <a href="/customer/all">Get All Customers</a>
          <a href="/customer/search">Get by Name/ID</a>
          <a href="/customer/update">Update Customer</a>
          <a href="/customer/block">Block Customer</a>
        </div>
      </li>
      <li><a href="/car">Car</a></li>
      <li><a href="/booking">Booking</a></li>
    </ul>
  </nav>
</header>
</body>
</html>
